DB_URL=postgresql://postgres:postgres@localhost:5432/next-opinionated-stack

BETTER_AUTH_SECRET=testtesttesttesttesttesttesttest
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID="test-test.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="testtesttesttesttesttesttest"

COGNITO_CLIENT_ID="testtesttesttest"
COGNITO_DOMAIN="https://testtesttest.amazoncognito.com"
COGNITO_REGION="us-east-1"
COGNITO_USERPOOL_ID="testtesttest"
